
.banner{
background-color: rgb(79, 191, 216);
height: 250px;
font-family:   Helvetica, sans-serif;
color: white;
align-content: center;
justify-content: center;

}

.img-logo{
  width: 150px;
  margin-left: 100px;
}

.btnCarrito {
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  background-color: #0b2453;
  border: none;
  border-radius: 10px; 
  color: white;
  position: absolute;
  top: 60px;
  right: 30px;
}
.btnLogin {
  position: absolute;
  top: 25px;
  right: 30px;
  background-color: #032858;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  cursor: pointer;
  color: white;
}
.btnLogin:hover{
  background-color: #053a80;

}

.btnCarrito:hover{
  background-color: #082d74;

}
.banner #titulo{
  position: absolute;
  top: 25px;
  left: 300px;
  font-size: 50px;
}
.banner #user{
  position: absolute;
  top: 25px;
  right: 30px;
  color: #09265c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;}

.contenedor-pantalla{
  display: flex;
  justify-content: center;
    width: 100%;
   height: 300px;
}
.contenedor-pantalla .pantalla{
  margin-top: 15px;
  width: 65%;
   height: 300px;
   border-radius: 20px;
   border-style: solid;
   border-color: #02d42f;
}

 
.centro {
  align-self: center;
}


footer {
   padding: 50px;
  background-color:rgb(19, 73, 43);
  color: rgb(255, 255, 255);
  font-size: 18px;
   font-family: 'Lucida Sans Regular', sans-serif;
  text-align: center;

}
  
.card-movie{
  border-color: #71ffec;
  border-radius: 5px;
  background-color: #a5e6de;
  margin: 7px;
  padding: 3px;
  padding-left: 10px;

 }
.carLeft{
  width: 30%;

}

.imagen {
  width: 150px;
  border-radius: 5px;
  margin-right: 10px;
}

/* ---------- */
.cuadroBusqueda{
  width: 100%;
  height: 60px;
  padding: 5px;
  background: #02588a;
  text-align: center;
  }
  .cuadroBusqueda .label{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .cuadroBusqueda .busqueda{
  
   margin-top: 10px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 25px;
    padding: 7px;
    width: 500px;
    text-align: center;
    border-color: #1766f8;
    border-radius: 5px;
  }
  .puntaje{
    border-radius: 100px;
    background-color: #017448;
    color: #fff;
    height: 25px;
    width:  25px;
    text-align: center;
    align-content: center;
    font-size: 12px;
    font-family: 'Lucida Sans Regular', sans-serif;

  }
  .addCarr{
    margin-top: 10px;
    font-family: 'Lucida Sans Regular', sans-serif;
    font-size: 15px;
    padding: 7px;
    width: 120px;
    text-align: center;
    background-color: #022d7e;
    color: white;
    border-radius: 20px;
    border: none; /* Elimina el borde */
    cursor: pointer;

  }
  .addCarr:hover{
    background-color: #053ea8;
  
  }

  .VistaResultadoBusqueda{
    width: 70%;
  }
  .VistaDetalleLibro{
    width: 70%;
  }
  .fila{
    display: flex;
}

.compraExitosa{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
